body {
    background-color: #11111b;
}

h1 {
    text-align: center;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
}
h2 {
    text-align: center;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
}

.button {
    background-color: #11111b; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-self: center;
    align-content: center;
}


.button1 {
    background-color: #11111b;
    color: #cdd6f4;
    border: 2px solid #89b4fa;
}

.button1:hover {
    background-color: #89b4fa;
    color: #1e1e2e;
}

.button2 {
    background-color: #11111b;
    color: #cdd6f4;
    border: 2px solid #a6e3a1;
}

.button2:hover {
    background-color: #a6e3a1;
    color: #1e1e2e;
}